/*
 * mofhtml.css
 *
 * Style sheet for displaying MOF information in a browser
 *
 * Colors from http://colorschemedesigner.com/
 *
 */

.outer_div {
  width: auto;
}

table {
  border-spacing: 0px;
  width: 900px;
}

td {
  vertical-align: left;
}

.class_header {
  background-color: #70e500;
}

.class_name {
  padding: 10px;
}

.parent_name {
  padding: 10px;
}

.qualifiers_container {
  display: inline;
}

.qualifiers_container_head {
  background-color: #ff9f00;
  padding: 10px;
}

.qualifiers_container_left {
  background-color: #ff9f00;
  min-width: 10px;
}

.qualifier_line {
  background-color: #ffca73;
}

.properties_container {
  display: inline;
}

.properties_container_head {
  background-color: #3e94d1;
  padding: 10px;
}

.properties_container_left {
  background-color: #3e94d1;
  min-width: 10px;
}

.feature_line {
  background-color: #65a5d1;
  padding: 10px;
  vertical-align: left;
}
